<%- contentFor('body') %>
<div class="context">
  <div class="nav">
      <h1>Disciplinas</h1>
      <a class="btn btn-success" href="/disciplina/register">Registrar nova disciplina</a>
  </div>

  <div class="disciplinas">
    <% subjects.forEach(function(subject) { %>
    <div class="disciplina">
      <h3><%= subject.nome %></h3>
      <p><%= subject.codigo %></p>
      <a
        class="btn btn-primary"
        role="button"
        aria-disabled="true"
        href="/disciplina/register/<%=subject.codigo%>"
      >
        Editar
      </a>
      <a
        class="btn btn-danger"
        role="button"
        aria-disabled="true"
        href="/disciplina/delete/<%= subject.codigo%>"
      >
        Excluir
      </a>
    </div>
    <% }); %>
  </div>
</div>  

<div class="context">
<div class="nav"> 
  <h1>Alunos</h1>
  <a class="btn btn-success" href="/aluno/register">Registrar novo aluno </a>
</div>

<div class="alunos">
  <% students.forEach(function(aluno) { %>
  <div class="aluno">
    <h3><%= aluno.nome %></h3>
    <p><%= aluno.matricula %></p>
    <a
      class="btn btn-primary"
      role="button"
      aria-disabled="true"
      href="/aluno/register/<%=aluno.matricula%>"
    >
      Editar
    </a>
    <a
      class="btn btn-danger"
      role="button"
      aria-disabled="true"
      href="/aluno/delete/<%= aluno.matricula%>"
    >
      Excluir
    </a>
  </div>
  <% }); %>
</div>

