<%- contentFor('body') %>
<h1>Disciplinas</h1>
<div class="disciplinas">
  <% subjects.forEach(function(subject) { %>
  <div class="disciplina">
    <h3><%= subject.nome %></h3>
    <p>(<%= subject.codigo %>)</p>
    <a
      class="btn btn-primary"
      role="button"
      aria-disabled="true"
      href="/disciplina/register/<%=subject.codigo%>"
    >
      editar
    </a>
    <a
      class="btn btn-danger"
      role="button"
      aria-disabled="true"
      href="/disciplina/delete/<%= subject.codigo%>"
    >
      excluir
    </a>
  </div>
  <% }); %>
</div>
<a class="btn btn-success" href="/disciplina/register"
  >Registrar nova disciplina</a
>
<h1>Alunos</h1>
<div class="alunos">
  <% students.forEach(function(aluno) { %>
  <div class="aluno">
    <h3><%= aluno.nome %></h3>
    <p>(<%= aluno.matricula %>)</p>
    <a
      class="btn btn-primary"
      role="button"
      aria-disabled="true"
      href="/aluno/register/<%=aluno.matricula%>"
    >
      editar
    </a>
    <a
      class="btn btn-danger"
      role="button"
      aria-disabled="true"
      href="/aluno/delete/<%= aluno.matricula%>"
    >
      excluir
    </a>
  </div>
  <% }); %>
</div>
<a class="btn btn-success" href="/aluno/register">Registrar novo aluno </a>
