<%- contentFor('body') %> <% if (err) { %>
<div class="alert alert-danger">
  <%=err %>
</div>
<% } %>
<h1>Registrar Disciplina</h1>
<form
  method="post"
  action="/disciplina/register/<%=(subject.codigo ? subject.codigo : '')%>"
>
  Código: <% if(!subject.codigo){ %>
  <input type="text" name="codigo" />
  <%}else{%><%=subject.codigo%><%}%><br />
  Nome:
  <input
    type="text"
    name="nome"
    value="<%=(subject.nome ? subject.nome : '')%>"
  /><br />

  <div class="semana">
    <div class="dia-descricao">
      <label>18h00</label>
      <label>19h00</label>
      <label>20h00</label>
      <label>21h00</label>
    </div>
    <div class="dia">
      <div class="option">
        <label for="segunda">Segunda feira</label>
      </div>
      <% (subject.horario[0] || []).forEach((hora, index) => { %> <input
      type="checkbox" value=<%=index+1%> name="segundaValues[]" <%=hora ?
      "checked" : null %> /> <%}) %>
    </div>

    <div class="dia">
      <div class="option">
        <label for="terca">Terça feira</label>
      </div>
      <% (subject.horario[1] || []).forEach((hora, index) => { %> <input
      type="checkbox" class="horario" value="<%=index+1%>" name="tercaValues[]"
      <%=hora ? "checked" : null %> /> <%}) %>
    </div>

    <div class="dia">
      <div class="option">
        <label for="quarta">Quarta feira</label>
      </div>

      <% (subject.horario[2] || []).forEach((hora, index) => { %> <input
      type="checkbox" class="horario" value="<%=index+1%>" name="quartaValues[]"
      <%=hora ? "checked" : null %> /> <%}) %>
    </div>

    <div class="dia">
      <div class="option">
        <label for="quinta">Quinta feira</label>
      </div>

      <% (subject.horario[3] || []).forEach((hora, index) => { %> <input
      type="checkbox" class="horario" value="<%=index+1%>" name="quintaValues[]"
      <%=hora ? "checked" : null %> /> <%}) %>
    </div>

    <div class="dia">
      <div class="option">
        <label for="sexta">Sexta feira</label>
      </div>

      <% (subject.horario[4] || []).forEach((hora, index) => { %> <input
      type="checkbox" class="horario" value="<%=index+1%>" name="sextaValues[]"
      <%=hora ? "checked" : null %> /> <%}) %>
    </div>
  </div>

  <input type="submit" value="Enviar" />
</form>
<a href="/">Voltar</a>
